{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Profil{% endblock %}

{% block main %}

{% if app.user %}
<div class="app-connected-participant">
    Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('user_logout') }}">Déconnexion</a>
</div>
{% endif %}


<h1>Filtrer les sorties</h1>

    <form>
        <label class="form-label" for="campus">Campus : </label>
        <select>

        </select>

        <label class="form-label" for="keywords">Le nom de la sortie contient : </label>
        <input class="form-field" type="text" id="keywords">

        <label class="form-label" for="startDate">Entre le : </label>
        <input class="form-field" type="date" id="startDate">

        <label class="form-label" for="endDate">Entre le : </label>
        <input class="form-field" type="date" id="endDate">

        <input type="checkbox" id="userIsOrganizer" name="userIsOrganizer" checked/>
        <label for="userIsOrganizer">Sorties dont je suis l'organisateur(trice)</label>

        <input type="checkbox" id="userIsRegistered" name="userIsRegistered" checked/>
        <label for="userIsRegistered">Sorties auxquelles je suis inscrit(e)</label>

        <input type="checkbox" id="userIsNotRegistered" name="userIsNotRegistered" checked/>
        <label for="userIsNotRegistered">Sorties auxquelles je suis inscrit(e)</label>

        <input type="checkbox" id="endedEvents" name="endedEvents" checked/>
        <label for="endedEvents">Sorties passées</label>

        <button class="app-btn" type="submit">Rechercher</button>
    </form>


<ul>
    {% for event in events %}
    <li>
        {{ event.name }}
    </li>
    {% endfor %}
</ul>

{% endblock %}