{% extends 'base.html.twig' %}

{% block title %}Message envoyé {% endblock %}

{% block main %}
    <div class="app-message-password-reset">
        <p>
            Votre compte est désactivé.
        </p>
    </div>
{% endblock %}
