{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Connexion{% endblock %}

{% block main %}
    <div class="app-form-container app-login-form-container">
        <form class="app-form app-login-form" method="post">
            {% if error %}
                <div class="app-alert">Paramètres de connexion
                    invalides
                </div>
            {% endif %}
            <div class="app-form-container app-framed">

              <span class="app-profile-label"><label class="app-form-label" for="username">Identifiant : </label></span>
                <input class="app-form-field" type="text" value="{{ last_username }}" name="_username" id="username">
                <br>
                <br>

                <span class="app-profile-label"><label class="app-form-label" for="password">Mot de passe : </label></span>
                <input class="app-form-field" type="password" name="_password" id="password">
                <br>


                <div class="app-remember-me">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                    <label for="remember_me">Se souvenir de moi</label>
                </div>
                <br>

                <button class="app-btn" type="submit">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}

