{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Profil{% endblock %}

{% block main %}



    {% if participant.userName == app.user.username %}
        {{ form_start(participantForm) }}
        {{ form_widget(participantForm) }}
        <button type="submit">Modifier !</button>
        {{ form_end(participantForm) }}
    {% else %}
        <p>Vous ne pouvez modifier que votre profil ! </p>
    {% endif %}


{% endblock %}

