{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Profil{% endblock %}

{% block main %}



        {{ form_start(participantForm) }}
        {{ form_widget(participantForm) }}
        <button type="submit">Modifier !</button>
        {{ form_end(participantForm) }}

{% endblock %}

