{% extends 'base.html.twig' %}

{% block title %}Message envoyé {% endblock %}

{% block main %}
    <div class="app-message-password-reset">
        <p>
            Un email a été envoyé afin de réinitialiser votre mot de passe.
            Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas de mail, vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">Essayez à nouveau</a>.</p>
    </div>
{% endblock %}
