{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Demande de nouveau mot de passe</h1>

    <div class="app-container-reset-password">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.mail) }}
        <div>
            <small>
                Veuillez saisirvotre adresse email pour recevoir un lien pour modifier
                votre mot d epasse.
            </small>
        </div>

        <div class="app-container-btn-reset-password">
            <button class="app-container-btn-reset-password">Envoyer moi un lien</button>
        </div>
    {{ form_end(requestForm) }}
    <div>
{% endblock %}