{% extends 'layout.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block main %}
    <div class="app-main-title">
        <h1>Mes sorties</h1>
    </div>
    <div class="app-main-content">
        <p>
            Freiheit der Presse ist Angelegenheit und Interesse des ganzen
            Menschengeschlechts. Ihr haben wir hauptsächlich die gegenwärtige Stufe von
            Cultur und Erleuchtung, worauf der größere Theil der europäischen Völker
            steht, zu verdanken. Man raube uns diese Freiheit, so wird das Licht, dessen
            wir uns gegenwärtig erfreuen, bald wieder verschwinden; Unwissenheit wird bald
            wieder in Dummheit ausarten, und Dummheit uns wieder dem Aberglauben und dem
            Despotismus preisgeben. Die Völker werden in die Barbarei der finstern
            Jahrhunderte zurück sinken; und wer sich dann erkühnen wird, Wahrheiten zu
            sagen, an deren Verheimlichung den Unterdrückern der Menschheit gelegen ist,
            wird ein Ketzer und Aufrührer heißen und als ein Verbrecher bestraft werden.
        </p>
    </div>
{% endblock %}
