.app-form-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: inherit;
}

.app-btn-link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85vw;
    margin: 1em;
    /*background-color: #5eb5e0;*/
}

.app-btn {
    width: 7em;
    align-self: flex-end;
}

.app-btn-link {
    text-decoration: none;
    color: black;
    width: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.app-btn-list {
    width: 10em;
    align-self: flex-end;
   }