@import 'app-header-style.css';
@import 'app-buttons-style.css';

@font-face {
    font-family: "Exo 2 Medium";
    src: url("fonts/Exo2-Regular.ttf");
}

@font-face {
    font-family: "Exo 2 Black";
    src: url("fonts/Exo2-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Exo 2 Medium", sans-serif;
}

.app-fieldset {
    padding: 1em;

}

#participant_password>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
}

#participant_password>div>input {
    width: 15em;

}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99vh;
}


/*MAIN*/
.app-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    justify-content: flex-start;
    align-content: flex-end;
}

.app-main-title {
	place-self: center;
    margin-top: 1em;
    margin-bottom: 5vh;
    text-align: center;
}

.app-main-content {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*PROFILE PAGE*/
.app-profile-label {
    font-family: "Exo 2 Black", sans-serif;
    color: plum;
}

/*FORMS*/

.app-login-form-container {
    height: 60vh;
    padding-top: 20vh;
    }

.app-form {
	max-width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.app-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: content-box;
}

.app-form-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: inherit;
}

.app-form-field {
    align-self: end;
}

.app-update-field {
	width: 22em;
	/*width: 15vw;*/
}
.app-form-label {
	align-self: start;
	max-width: 50%;
}

.app-btn {
	width: 7em;
	align-self: flex-end;
}


.app-remember-me > input {
    margin-right: 1em;
}

/*UPDATE FORM*/
.app-update-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55vw;
}

/*FOOTER*/
.app-footer-container {
    text-align: center;
    padding: 0.5em;
}


/*ERROR MESSAGES*/
.app-alert {
    font-family: "Exo 2 Black", sans-serif;
    color: #ff0000;
    padding: 4em;
}

/* M devices (tablets, 768px and up)*/
@media (min-width: 768px){

    .app-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: mintcream;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
}

    .app-header-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}


    .app-header-nav {
        margin-right: 5em;
    }

    .app-header-nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }



    .app-header-nav .app-nav-menu {
         clear: none;
         max-height: none;
        align-self: flex-end;
     }

    .app-header-nav .app-menu-icon {
       display: none;
   }



    /*PROFILE PAGE*/
    .app-profile-label {
        font-family: "Exo 2 Black", sans-serif;
        color: plum;
    }


    /*UPDATE FORM*/
    .app-update-form-container {
        flex-direction: row;
        width: 55vw;
    }
}

 /* L devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .app-update-form-container {
        width: 40vw;
    }

    .app-connected-participant {
       display: flex;
        flex-direction: row;
        width: 60vw;
        align-self: center;
        justify-self: center;
        padding-left: 1em;
   }

}

/* XL devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .app-update-form-container {
        width: 35vw;
    }
}

/* XXL devices (large desktops, 1900px and up)*/
@media (min-width: 1900px) {
    .app-update-form-container {
        width: 25vw;
    }
}



