.app-form-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: inherit;
}

.app-btn-link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85vw;
    margin: 1em;
    /*background-color: #5eb5e0;*/
}

.app-btn {
    width: 7em;
    align-self: flex-end;
    margin: 1em;
}

.app-search-btn {
    margin: 0.5em;
}

.app-btn-link {
    text-decoration: none;
    color: black;
    width: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.app-btn-list {
    width: 10em;
    align-self: flex-end;
    margin-right: 5vw;
   }

.app-table-btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: "Exo 2 Medium", sans-serif;
}

.app-btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 2em;
    padding: 0;
    padding-top: 3px;
    color: plum;
    background-color: mintcream;
    border-color: plum;
}

.app-btn-add:focus{
    outline: none;
}

.app-separate-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

