{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Administration des utilisateurs{% endblock %}

{% block main %}

    <h1 class="app-main-title">Administration des participants</h1>

    <div class="app-framed">
        <a class="app-pink-label" href="{{ path('admin_addParticipants') }}">Ajouter des participants</a>
    </div>
    <div class="app-framed">
        <a class="app-pink-label" href="{{ path('admin_manager') }}">Gérer les participants</a>
    </div>
{% endblock %}