<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.ico">
    <link rel="stylesheet" href="css/app-style.css">
    <title>{% block title %}Sortir.com{% endblock %}</title>
</head>

<body>

<div class="app-container">

    <div class="app-header">
        {% include('inc/header.html.twig') %}
    </div>

    <div class="app-main-container">
        {% block main %}
        {% endblock %}
    </div>

    <div class="app-footer-container">
        {% include('inc/footer.html.twig') %}
    </div>

</div>

</body>
</html>