<div class="app-header-logo">
    <a href="{{ path('main_home') }}"> <img class="app-header-logo_img" src="{{ asset('img/logo-sortir.png') }}" alt="logo"></a>
</div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="app-connected-participant">
        <span>Connecté en tant que {{ app.participant.pseudo }}</span>
    </div>
{% endif %}
<div class="app-header-nav">
    {% include('inc/nav.html.twig') %}
</div>