{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a class="app-nav-btn" href="{{ path('accueil') }}">ACCUEIL</a>
    <a class="app-nav-btn" href="{{ path('deconnexion') }}">DECONNEXION</a>
{% else %}
    <a class="app-nav-btn" href="{{ path('connexion') }}">CONNEXION</a>
{% endif %}