{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aperiam eius ex incidunt, iste laudantium maxime, minima minus natus, nihil possimus quaerat quas quibusdam quis rem reprehenderit soluta suscipit.</p>
{% endblock %}

